.wrapper[data-type="cyber"]{
    background-image: url(../images/cyper/bg_01.jpg);
}
.wrapper[data-type="cyber"] section:nth-child(even){
    background-image: url(../images/cyper/bg_02.jpg);
}
.wrapper[data-type="cyber"] .textaria h1,.wrapper[data-type="cyber"] .sect_title{
    color: white;
}
.wrapper[data-type="cyber"] .layout_aria__body{
    background: linear-gradient(0deg, #00000000, #5c5c5ccf);
}
.wrapper[data-type="cyber"] .layout_aria__title{
    background: linear-gradient(0deg, #00000091, transparent);
    box-shadow: 2px 2px 0px #ffffff1f;
    color: white;
}
.wrapper[data-type="cyber"] footer{
    background-image: url(../images/cyper/bg_02.jpg);
}
.wrapper[data-type="cyber"] .centerlogo{
    background-image: url(../images/cyper/centerlogo.png);
}
.wrapper[data-type="cyber"] header ul li a:hover{
    box-shadow: 0 -6px 0 #00fff4 inset;
}
.wrapper[data-type="cyber"] .sect_center h2,.wrapper[data-type="cyber"] .textaria h3{
    color: #00fff4;
}
.wrapper[data-type="cyber"] .textaria h1,.wrapper[data-type="cyber"] .sect_title{
    box-shadow: 0 2px 0 #00fff4;
}
.wrapper[data-type="cyber"] .web_aria h2{
    background-color: #00fff4;
    color: black;
}
.wrapper[data-type="cyber"] .top_btn{
    background-color: #00fff4;
    border-color: #00fff4;
    color: black;
}
.wrapper[data-type="cyber"] .top_btn:hover{
    color: #00fff4;
    background-color: black;
}
.wrapper[data-type="cyber"] .btn:hover, .wrapper[data-type="cyber"] #intro_more_btn.active {
    background-color: #00fff4;
    border-color: #00fff4;
    color: black;
}
.wrapper[data-type="cyber"] .layout_aria__bottom a:hover{
    color: #00fff4;
}
.wrapper[data-type="cyber"] .layout_aria__bottom a:before{
    background-color: #00fff4;
}
.wrapper[data-type="cyber"] .logo{
    background-image: url(../images/nav_logo.png);
}
.wrapper[data-type="cyber"] header{
    background-color: #000000ed;
}
.wrapper[data-type="cyber"] header ul li a{
    color: rgb(109 109 109);
}
.wrapper[data-type="cyber"] header ul li a:hover{
    color: white;
}
.wrapper[data-type="cyber"] .bar{
    background: white;
}
.wrapper[data-type="cyber"] .nav_option_h5{
    background-color: #000000ed;
}
.wrapper[data-type="cyber"] header ul li a{
    color: white;
}
.wrapper[data-type="cyber"] header{
    box-shadow: 0 5px 10px #ffffff3d;
}