//淺藍------------------------------------
$outerBgColor:#f1f1f1;
$navBgColor:#ffffff;
$navColor:#969494;
$inputBgColor:#f0f0f0;
$outLineColor:#f0f0f0;
$spotColor: #4580b6;
$spotColorLighter: #76a8e9;
$normalTextSize:13px;
$titleColor:gray;
$subTitleColor:#c2c2c2;
$quickOptionBg:#eaeaea;
$zoneBgColor:#ffffff;
$normalRadius:6px;
// $importantColor:#e95353;
$styleZoneBgInvert:0;

//深藍------------------------------------
// $outerBgColor:#dedede;
// $navBgColor:white;
// $navColor:rgb(150, 148, 148);
// $inputBgColor:#f0f0f0;
// $outLineColor:#e0e0e0;
// $spotColor: #113388;
// $spotColorLighter: #1541b1;
// $normalTextSize:13px;
// $titleColor:gray;
// $subTitleColor:rgb(194, 194, 194);
// $quickOptionBg:#eaeaea;
// $zoneBgColor:#fcfcfc;
// $normalRadius:6px;
// $importantColor:rgb(233, 83, 83);
// $styleZoneBgInvert:0;

//夜色菊------------------------------------

// $outerBgColor:#2b2b2b;
// $navBgColor:#2b2b2b;
// $navColor:#ffffff;
// $inputBgColor:#333333;
// $outLineColor:#535353;
// $spotColor: #e95e01;
// $spotColorLighter: #ff8e31;
// $normalTextSize:13px;
// $titleColor:#ffffff;
// $subTitleColor:#c2c2c2;
// $quickOptionBg:#424242;
// $zoneBgColor:#3d3d3d;
// $normalRadius:6px;
// $importantColor:#ffda61;
// $styleZoneBgInvert:0.8;



//魔幻紫------------------------------------
// $outerBgColor:#332936;
// $navBgColor:#332936;
// $navColor:#ffffff;
// $inputBgColor:#5b475f;
// $outLineColor:#5b475f;
// $spotColor: #a617b3;
// $spotColorLighter: #b03ac0;
// $normalTextSize:13px;
// $titleColor:#ffffff;
// $subTitleColor:#c2c2c2;
// $quickOptionBg:#424242;
// $zoneBgColor:#3f3142;
// $normalRadius:6px;
// $importantColor:#ffda61;
// $styleZoneBgInvert:0.8;


