.switcher{
    display: flex;
    justify-content: flex-end;
    position: relative;
        &[data-light='true']{
            // &::before{
            //     opacity: 1;
            //     transform: translateX(0);
            // }
            // &::after{
            //     opacity: 0;
            //     transform: translateX(-10px);
            //     pointer-events: none;
            // }
            .switcher__btn{
                background: #b5b5b5;
                span{
                    left: 3px;
                    // .sun{
                    //     opacity: 1;
                    // }
                    // .moon{
                    //     opacity: 0;
                    // }
                }
            }

        }
        &[data-light='false']{
            // &::before{
            //     opacity: 0;
            //     transform: translateX(-10px);
            //     pointer-events: none;
            // }
            // &::after{
            //     opacity: 1;
            //     transform: translateX(0);
            // }
            .switcher__btn{
                background: #5f5f5f;
                span{
                    left: 33px;
                    background-color: #2b2b2b;
                    // .sun{
                    //     opacity: 0;
                    // }
                    // .moon{
                    //     opacity: 1;
                    // }
                }
            }

        }
    &::before,&::after{
        line-height: 30px;
        // margin-right: 10px;
        transition: 1s;
        overflow: hidden;
        position: absolute;
        top: 1px;
        right: 75px;
    }
    // &::before{
    //     content: '明色';
    // }
    // &::after{
    //     content: '夜色';
    //     color: white;
    // }
    &__btn{
        width: 60px;
        height: 30px;
        position: relative;
        border-radius: 50px;
        // margin-right: 10px;
        // box-shadow: 3px 3px 8px 1px rgb(0 0 0 / 28%) inset, 1px 3px 0px #ffffffab;
        transition: .5s;
        // @extend %bar-type;
        cursor: pointer;
        .sun,.moon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            
        }
        .sun{
            right: 10px;
            width: 16px;  
        }
        .moon{
            left: 10px;
            filter: brightness(0.4);
            width: 14px;
        }
        span{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #f1f1f1;
            transition: .5s;
            // border-width: 3px;
            // border-style: solid;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 70%;
                transform: translate(-50%,-50%);
                transition: .5s;
            }
        }
    }

    // @media only screen and (max-width: 600px) {
    //     &::before,&::after{
    //         margin-right: 0;
    //     }
    //     &__btn{
    //         margin-right: 0;
    //     }
    // }

}

