$colors: (
    bg: #f3f3f3,
    whity: #fff,
    primary: #c7b48b,
    accent: #e8e8e8,
    deepgreen: #304335
);
$phone-f-size:20px;

@function color($color-name) {
    @return map-get($colors, $color-name)
}
