.container{
    display: grid;
    .mainView_t{
        display: grid;
        height: 60vh;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .product_menu_t{
        display: flex;
    }
}
